WEB_PORT=8080
WEB_USERNAME=admin
WEB_PASSWORD=Credo@123#
CADP_HOST=
CADP_PORT=
KMIP_HOST=
KMIP_PORT=5696
KMIP_USERNAME=
KMIP_PASSWORD=
NAE_HOST=
NAE_PORT=9000
NAE_USERNAME=
NAE_PASSWORD=
TLS_CA_CERT_PATH=
TLS_CLIENT_CERT_PATH=
TLS_CLIENT_KEY_PATH=
LOG_LEVEL=Information
